.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/white.jpg");

  &__mainBox {
    border: solid #494e5f 10px;
    background-color: #96a4d4;
    padding: 20px;
    &__title {
      font-family: "Cinzel Decorative", cursive;
      font-size: 27px;
      font-weight: 100;
    }
  }
}
