.App {
  background-color: purple;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/white.jpg");
}

.title {
  font-family: "Cinzel Decorative", cursive;
  font-size: 27px;
  font-weight: 100;
  margin-left: 50px;
}

.main-box {
  border: solid #494e5f 10px;
  background-color: #96a4d4;
  padding: 20px;
}

.blue {
  background-color: blue;
}
