.quoteBox {
  &__quote {
    margin-left: 20px;
  }

  &__charac {
    margin-left: 20px;
  }
  &__house {
    margin-left: 20px;
  }
  &__title-quote {
    font-family: "Cinzel Decorative", cursive;

    margin-right: 10px;
    font-size: 20px;
  }
  &__title-charac {
    font-family: "Cinzel Decorative", cursive;
    font-size: 20px;
    margin-right: 10px;
  }
  &__title-house {
    font-family: "Cinzel Decorative", cursive;
    margin-right: 10px;
    font-size: 20px;
  }
  &__description {
    font-family: "Alegreya";
    font-weight: 200;
    font-size: 20px;
    margin-left: 10px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  font-family: "Cinzel Decorative", cursive;
}

.btn-text {
  font-family: "Cinzel Decorative", cursive;
  font-size: 15px;
}

.new-quote-btn {
  height: 50px;
  width: 200px;
}
